<div class="container">

  <div class="card p-3 m-md-5">

    <h4 class="card-title">Edit your awesome concept: {{conceptData.title}}</h4>

    <div class="card-text">

      <form>
        <div class="form-text">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="{{conceptData.title}}"
                 [(ngModel)]="conceptData.title">
        </div>

        <div class="form-text">
          <label for="description">Description:</label>
          <textarea class="form-control" id="description" rows="3" name="description"
                    placeholder="{{conceptData.description}}"
                    [(ngModel)]="conceptData.description"></textarea>
        </div>


        <div class="form-text">
          <label for="possibleReleaseDate">Possible release date:</label>
          <input type="text" class="form-control" id="possibleReleaseDate" name="possibleReleaseDate"
                 placeholder="{{conceptData.possibleReleaseDate}}"
                 [(ngModel)]="conceptData.possibleReleaseDate">
        </div>

        <div class="form-group">
          <label for="status">Status:</label>
          <select class="form-control" id="status" name="status"
                  [(ngModel)]="conceptData.developmentStatus">
            <option *ngFor="let s of status" [value]="s">{{s}}</option>
          </select>
        </div>

        <div class="form-text">
          <label for="minAmountperYear">At least amount per Year:</label>
          <input type="text" class="form-control" id="minAmountperYear" name="minAmountperYear"
                 placeholder="{{conceptData.minAmountperYear}}"
                 [(ngModel)]="conceptData.minAmountperYear">
        </div>
        <br/>

        <button (click)="editConcept()" class="btn btn-success">Edit Concept</button>

      </form>
    </div>
  </div>
</div>
