<div class="container">

  <div class="card p-3 m-md-5">

    <h4 class="card-title">User: {{userData.username}}</h4>
    <div class="card-text">
      <hr/>
      <div class="form-text">
        <label for="userid">UserId:</label>
        <div id="userid" name="userid">{{userData.id}}</div>
      </div>
      <hr/>
      <div class="form-text">
        <label for="username">Username:</label>
        <div id="username" name="username">{{userData.username}}</div>
      </div>
      <hr/>
      <div class="form-text">
        <label for="email">Email:</label>
        <div id="email" name="email">{{userData.email}}</div>
      </div>
      <hr/>
      <div class="form-text">
        <label for="role">Roles:</label>
        <div id="role" name="role" *ngFor="let role of this.userData.roles">
          <li>
            {{role}}
          </li>
        </div>
      </div>
      <hr>
      <br/>

      <form [formGroup]="form" class="list-group" (ngSubmit)="editUser()">
        <h5>Edit Roles: </h5>
        <label formArrayName="roles" class="list-group-item"
               *ngFor="let role of rolesFromArray.controls; let i = index">

          <input type="checkbox" [formControlName]="i">
          {{rolesData[i]}}

        </label>
        <br>
        <button class="btn btn-success">submit</button>
      </form>


    </div>
  </div>
</div>
