<div class="container">
  <header class="jumbotron">
    <h2 class="text-center">Deciders-Board</h2>
  </header>
</div>


<div class="container">
  <body>

  <app-concept-core-decider [workflowStatus]="workflowStatus"></app-concept-core-decider>

  </body>
</div>
