<div class="container">
  <header class="jumbotron">
    <h2 class="text-center">Admins-Board</h2>
  </header>
</div>

<div class="container">
  <body>
  <div class="card mb-3">
    <div class="card-header">
      <h5 class="text-center">All Users</h5>
    </div>
    <ul class="list-group">

      <li class="list-group-item" *ngFor="let user of this.userData">
        <strong>User: </strong>{{user.username}}
        <a routerLink="/admin/edituser/{{user.id}}" *ngIf="user.username !== this.username">Edit Roles</a>
      </li>
    </ul>

  </div>
  </body>
</div>
