<div class="card text-center mb-4" *ngIf="this.roles.includes('ROLE_DECIDER')">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/decider/concepts/{{1}}" routerLinkActive="active">Fetch a concept</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/decider/concepts/{{2}}" routerLinkActive="active">My Workload
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/decider/concepts/{{3}}" routerLinkActive="active">Accepted Concepts</a>
      </li>
    </ul>
  </div>

  <div class="card-deck justify-content-center mb-3">
    <div class="row">
      <div class="col" *ngFor="let concept of this.concepts">
        <br/>
        <div class="card" *ngIf="concept.workflowStatus === workflowStatus">
          <div class="card-header">
            <h5>{{concept.title}}</h5>
            <button class="btn btn-outline-info btn-sm" data-toggle="collapse"
                    [attr.data-target]="'#collapseExample_'+concept.id"
                    aria-expanded="false" aria-controls="collapseExample_+concept.id">
              Expand
            </button>
          </div>
          <div class="card-body">

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p><strong>Development status:</strong></p>
                {{concept.developmentStatus}}</li>
              <li class="list-group-item">
                <p><strong>Possible release date:</strong></p>
                {{concept.possibleReleaseDate}}</li>

              <div class="collapse" id="collapseExample_{{concept.id}}">
                <li class="list-group-item">
                  <p><strong>Description:</strong></p>
                  {{concept.description}}</li>
              </div>
            </ul>
          </div>

          <div class="card-footer">

            <button (click)="checkConcept(concept)"
                    *ngIf="concept.workflowStatus === 1 && this.roles.includes('ROLE_DECIDER')"
                    class="btn btn-outline-success btn-sm ml-3">Check
            </button>

            <button (click)="acceptConcept(concept)"
                    *ngIf="concept.workflowStatus === 2 && this.roles.includes('ROLE_DECIDER')"
                    class="btn btn-outline-success btn-sm ml-3">Accept
            </button>

            <button (click)="declineConcept(concept)"
                    *ngIf="concept.workflowStatus === 2 && this.roles.includes('ROLE_DECIDER')"
                    class="btn btn-outline-danger btn-sm ml-3">Decline
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
</div>

