<div class="container">
  <header class="py-5 mb-5" style="background-color:#e3f2fd">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-black mt-5 mb-2">Concept-Creator | Create awesome concepts!</h1>
          <p class="lead mb-5 text-black-50">Thousands of good ideas stay in minds forever. With Concept-Creator you
            have the ability to develop and write them down in a structured and continuous process.</p>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>About Concept-Creator</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. </p>
        <a class="btn btn-outline-info btn-lg" href="#">Further Reading</a>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Lorem ipsum</strong>
          <br> Lorem-ipsum-street 8
          <br> 123456 Karlsruhe, Deutschland
          <br>
        </address>
        <address>
          <abbr title="Phone">P: </abbr>
          123 / 456 7890
          <br>
          <abbr title="Email">E: </abbr>
          <a href="mailto:#">concept-creator@example.com</a>
        </address>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="assets/mission.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Our Mission!</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-outline-info">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="assets/idea.png" alt="">
          <div class="card-body">
            <h4 class="card-title">The idea behind.</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-outline-info">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="assets/contribution.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Our contribution.</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-outline-info">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

