<div class="container">
  <header class="jumbotron">
    <h2 class="text-center">Creators-Board</h2>
  </header>
</div>

<div class="container">
  <body>

  <app-concept-core [workflowStatus]="workflowStatus"></app-concept-core>


  <div class="card mb-3">
    <div class="card-header">
      <h5 class="text-center">All my concepts
        <span class="badge badge-primary badge-pill">{{concepts.length}}</span></h5>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let concept of this.concepts">
        Titel: {{concept.title}}
      </li>
    </ul>

  </div>
  </body>
</div>
