<div id="app">
  <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" routerLink="home">
      <img src="assets/idea.png" width="50">
    </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a class="nav-link" routerLink="/admin">Admins-Board</a>
      </li>

      <li class="nav-item" *ngIf="showCreatorBoard">
        <a class="nav-link" routerLink="/concept/create">Create awesome concepts</a>
      </li>

      <li class="nav-item" *ngIf="showCreatorBoard">
        <a class="nav-link" routerLink="/creator">Creators-Board</a>
      </li>

      <li class="nav-item" *ngIf="showDeciderBoard">
        <a class="nav-link" routerLink="/decider">Deciders-Board</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
