<div class="card text-center mb-4" *ngIf="this.roles.includes('ROLE_CREATOR')">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/creator/concepts/{{0}}" routerLinkActive="active">Draft</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/creator/concepts/{{1}}" routerLinkActive="active">Submitted</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/creator/concepts/{{2}}" routerLinkActive="active">In Examination</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/creator/concepts/{{9}}" routerLinkActive="active">Declined</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/creator/concepts/{{3}}" routerLinkActive="active">Accepted</a>
      </li>
    </ul>
  </div>

  <div class="card-deck justify-content-center">
    <div class="row">
      <div class="col" *ngFor="let concept of this.concepts">
        <br/>
        <div class="card" *ngIf="concept.workflowStatus === workflowStatus">
          <div class="card-header">
            <h5>{{concept.title}}</h5>
            <button class="btn btn-outline-info btn-sm" data-toggle="collapse"
                    [attr.data-target]="'#collapseExample_'+concept.id"
                    aria-expanded="false" aria-controls="collapseExample_+concept.id">
              Expand
            </button>
          </div>
          <div class="card-body">

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p><strong>Development status:</strong></p>
                {{concept.developmentStatus}}</li>
              <li class="list-group-item">
                <p><strong>Possible release date:</strong></p>
                {{concept.possibleReleaseDate}}</li>

              <div class="collapse" id="collapseExample_{{concept.id}}">
                <li class="list-group-item">
                  <p><strong>Description:</strong></p>
                  {{concept.description}}</li>
              </div>
            </ul>
          </div>

          <div class="card-footer">
            <a class="card-link" *ngIf="concept.workflowStatus === 0"
               routerLink="/concept/edit/{{concept.id}}">Edit</a>

            <button (click)="submitConcept(concept)"
                    *ngIf="concept.workflowStatus === 0 && this.roles.includes('ROLE_CREATOR')"
                    class="btn btn-outline-success btn-sm ml-3">Submit
            </button>

            <button (click)="reworkConcept(concept)"
                    *ngIf="concept.workflowStatus === 9 && this.roles.includes('ROLE_CREATOR')"
                    class="btn btn-outline-warning btn-sm ml-3">Rework
            </button>

            <button (click)="deleteConcept(concept)"
                    *ngIf="concept.workflowStatus === 9 && this.roles.includes('ROLE_CREATOR')"
                    class="btn btn-outline-danger btn-sm ml-3">Delete
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <br/>
</div>
